<div class="container">
  <div class="row">
    <div class="col">
      <h2>Hi Jerry,</h2>
    </div>
  </div>
  <div class="row mt-3">
    <!-- Card -->
    <div class="col-lg-6 col-sm-12 mb-3">
      <mat-card style="height: 18vh">
        <mat-card class="card-details" style="height: 15vh">
          <div class="row">
            <div class="col-11 text-light">
              <p class="mb-0">Balance</p>
              <div style="display: flex">
                <h1>9,485,760</h1>
                <span class="text-sm pt-2 mx-2"> UGX</span>
              </div>
            </div>
            <div class="col">
              <mat-icon
                style="margin-top: 3rem"
                class="align-self-center"
                svgIcon="visibility"
              ></mat-icon>
            </div>
          </div>

          <div class="row">
            <div class="col text-light">
              <p class="mb-0">Spent this week</p>
              <div style="display: flex">
                <h1>485,760</h1>
                <span class="text-sm pt-2 mx-2"> UGX</span>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-card>
    </div>
    <!-- Quick Actions -->
    <div class="col">
      <mat-card class="p-2" style="height: 18vh">
        <mat-card-title>
          <p class="card-title">Quick Actions</p>
        </mat-card-title>
        <mat-card-content class="p-3">
          <div class="row">
            <div class="col">
              <div class="quick-actions">
                <mat-icon class="icon">view_stream</mat-icon>
              </div>
              <p class="qa-title">Top Up</p>
            </div>
            <div class="col">
              <div class="quick-actions">
                <mat-icon>north_east</mat-icon>
              </div>
              <p style="margin-left: 5px; margin-top: 10px">Send Money</p>
            </div>
            <div class="col">
              <div class="quick-actions">
                <mat-icon svgIcon="collect"></mat-icon>
              </div>
              <p class="qa-title">Collect</p>
            </div>
            <div class="col">
              <div class="quick-actions">
                <mat-icon svgIcon="withdraw"></mat-icon>
              </div>
              <p class="qa-title">Withdraw</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Recent Transactions -->
  <div class="row mt-5">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-title>
          <p class="card-title">Recent transactions</p>
        </mat-card-title>
        <mat-card-content>
          <table class="table">
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <th scope="row">
                  <div
                    *ngIf="transaction?.status === 'completed'"
                    class="text-center rounded completed-transaction"
                  >
                    <mat-icon class="icon">{{ transaction?.icon }}</mat-icon>
                  </div>
                  <div
                    *ngIf="transaction?.status === 'pending'"
                    class="text-center rounded pending-transaction"
                  >
                    <mat-icon class="icon">{{ transaction?.icon }}</mat-icon>
                  </div>
                  <div
                    *ngIf="transaction?.status === 'failed'"
                    class="text-center rounded failed-transaction"
                  >
                    <mat-icon class="icon">{{ transaction?.icon }}</mat-icon>
                  </div>
                </th>
                <td class="pt-4">{{ transaction?.name }}</td>
                <td class="pt-4">
                  <strong
                    >{{ transaction?.currency }}
                    {{ transaction?.amount }}</strong
                  >
                </td>
                <td class="pt-4">
                  {{ transaction?.formattedTransactionType }}
                </td>
                <td class="pt-4">
                  <span
                    *ngIf="transaction?.status === 'completed'"
                    class="text-success"
                    >{{ transaction?.status | titlecase }}</span
                  >
                  <span
                    *ngIf="transaction?.status === 'pending'"
                    class="text-warning"
                    >{{ transaction?.status | titlecase }}</span
                  >
                  <span
                    *ngIf="transaction?.status === 'failed'"
                    class="text-danger"
                    >{{ transaction?.status | titlecase }}</span
                  >
                </td>
                <td class="pt-4">{{ transaction?.time }}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
