<mat-sidenav-container class="h-100">
  <mat-sidenav
    #sidenav
    class="col-9 col-sm-4 col-lg-2"
    [opened]="!mobileQuery.matches"
    [mode]="mobileQuery.matches ? 'push' : 'side'"
    (keydown.escape)="sidenav.close()"
    [fixedInViewport]="mobileQuery.matches"
  >
    <app-sidebar
      (ToggleSideMenu)="mobileQuery.matches ? sidenav.toggle() : ''"
    ></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      *ngIf="mobileQuery.matches"
      class="toolbar justify-content-between"
    >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container-fluid min-vh-100 content pt-5">
      <div class="col-lg-12 ps-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
